.aside {
  grid-column: 2/3;
  background-color: $color-red;
  &__wrapper {
    .aside__list {
      margin-top: 20px;
      padding-left: 15px;
      padding-right: 15px;
      list-style: none;
      margin-bottom: 20px;

      .aside__list-item {
        text-transform: uppercase;
        font-weight: 700;
        padding-top: 5px;
        padding-bottom: 5px;

        .aside__list-link {
          text-decoration: none;
          color: $color-white;
          transition-property: color;
          transition-duration: 500ms;

          &:hover {
            color: $color-gold;
          }
        }

        .aside__list-link_disabled {
          color: gray !important;
        }
      }
    }
  }
}

.active {
  color: $color-gold !important;
  pointer-events: none;
}
