//1. Химическая экспертиза
.title-bg-chem {
  background: url("../../../src/background/title/chem-title.jpg") no-repeat
    center;
  background-size: cover;
}

.title-bg-tovar {
  background: url("../../../src/background/title/tovar-title.jpg") no-repeat
    center;
  background-size: cover;
}

.title-bg-ecology {
  background: url("../../../src/background/title/ecology-title.jpg") no-repeat
    center;
  background-size: cover;
}

.title-bg-lingvo {
  background: url("../../../src/background/title/lingvo-title.jpg") no-repeat
    center;
  background-size: cover;
}
