.footer {
  font-size: 18px;

  &__wrapper {
    margin: 0 auto;
    padding: 0 10px;
  }

  //FOOTER-TOP

  &__top {
    background-color: #000;
    padding: 25px 10px;
  }

  &__top-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  //Logo
  &__logo {
    margin-right: 30px;
  }

  &__logo-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    width: 245px;
    height: 60px;
  }

  &__logo-text {
    color: $color-white;
    font-size: 32px;
  }

  //Info
  &__info-list {
    list-style: none;
  }

  &__info-item {
    margin-top: 8px;
    color: #fff;
    transition-property: color;
    transition-duration: 500ms;
    cursor: pointer;
  }

  &__info-item:first-child {
    margin-top: 0;
  }

  &__info-item:hover {
    color: $color-brown;
  }

  &__info-link {
    text-decoration: none;
    color: #fff;
    transition-property: color;
    transition-duration: 500ms;
  }

  &__info-link:hover {
    color: $color-red;
  }

  //Menu

  &__menu-list {
    list-style: none;
  }

  &__menu-item {
    margin-top: 8px;
    max-width: 250px;
  }

  &__menu-item:first-child {
    margin-top: 0;
  }

  &__menu-link {
    text-decoration: none;
    color: #fff;
    transition-property: color;
    transition-duration: 500ms;
  }

  &__menu-link:hover {
    color: $color-brown;
  }

  //FOOTER-BOTTOM
  &__bottom {
    background-color: $color-red;
    padding: 15px 10px;
    color: $color-white;
  }

  &__bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  //Copyright
  &__copyright-text {
    font-size: 14px;
    font-weight: 300;
  }
}

//Медиа-запросы
@media (max-width: 860px) {
  .footer {
    &__top-content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
    }

    &__info {
      margin-top: 25px;
    }

    &__menu {
      margin-top: 15px;
    }
  }
}
