.header {
  &__wrapper {
    margin: 0 auto;
    padding: 0 10px;
  }

  &__top {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

//Медиа=запросы
@media (max-width: 810px) {
  .header {
    &__top {
      flex-direction: column;
      height: auto;
      justify-content: center;
      align-items: center;
    }
  }
}
