.logo {
  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 245px;
    height: 60px;
    margin-right: auto;
  }

  &__square {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgb(180, 47, 47);
  }

  &__square-text {
    font-size: 32px;
    color: #fff;
  }

  &__text {
    font-size: 32px;
    color: #000;
  }
}

@media (max-width: 810px) {
  .header__logo {
    margin-right: 0;
    margin-bottom: 25px;
  }
}
