.menu {
  &__list {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    list-style: none;
  }

  &__item {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    margin-right: 8px;
  }

  &__item:last-child {
    margin-right: 20px;
  }

  &__link {
    text-decoration: none;
    color: $color-blue;
    transition-property: color;
    transition-duration: 500ms;
  }

  &__link:hover {
    color: $color-green-light;
  }
}
