.order-call {
  &__btn {
    padding: 8px 10px;
    border: none;
    background-color: $color-blue;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 500ms;
  }

  &__btn:hover {
    background-color: $color-green-light;
  }
}
