.section-exptitle {
  &__title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    z-index: -1;
  }

  &__title::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 217, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
  }

  &__title-text {
    display: block;
    padding: 10px 15px;
    color: $color-dark;
    font-size: 35px;
    z-index: 999;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.7);
  }
}
