.section-benefits {
  max-width: 1600px;
  margin: 0 auto;

  &__title {
    padding-top: 15px;
    padding-bottom: 15px;
    color: $color-black;
  }

  &__cards {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
  }
}

//Медиа-запросы
@media (max-width: 1063px) {
  .section-benefits {
    &__cards {
      grid-template-columns: none;
      grid-template-rows: repeat (3, 1fr);
    }
  }
}
