.service-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: auto;
    flex: 1;
  }

  &__list,
  &__submenu {
    list-style: none;
  }

  &__submenu {
    background-color: $color-black;
  }

  &__item {
    text-align: center;
    padding: 16px 0;
  }

  &__link {
    color: $color-black;
  }

  &__sublink {
    color: $color-white;
  }

  &__link,
  &__sublink {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    transition-property: color;
    transition-duration: 500ms;
  }

  &__sublink_disabled {
    color: gray !important;
  }

  &__link:hover {
    color: $color-red;
  }

  &__sublink:hover {
    color: $color-red;
  }

  &__sublist {
    display: block;
    position: relative;
    text-align: left;
    word-wrap: none;
    transition-property: display;
  }

  &__sublist:hover &__submenu {
    display: flex;
  }

  &__submenu {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    position: absolute;
    left: 0;
    top: 38px;
    z-index: 99;
    border-radius: 0 0 8px 8px;
    max-height: 300px;
    overflow-y: scroll;

    .service-menu__subitem {
      word-wrap: none;
      margin: 8px;
      width: 300px;
    }
  }
}

//Стрелка
.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid $color-white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;

  &__img {
    width: 15px;
    height: 15px;
  }

  &__img_rotated {
    transform: rotate(180deg);
  }
}

//Настройка скролл-бара
.scroll-body::-webkit-scrollbar {
  width: 5px; /* здесь задается ширина скрола, в данном случае он не будет отображен */
  background: #fff;
}

.scroll-body::-webkit-scrollbar-thumb {
  background: $color-red;
}

.scroll-body::-webkit-scrollbar {
  max-height: auto;
  overflow-y: auto;
}

.scroll-body {
  max-height: auto;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: $color-red #fff;
}

//Медиа-запросы
@media (max-width: 550px) {
  .service-menu {
    display: block;
    padding: 16px 0px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    border-radius: 8px 8px 0 0;
    background-color: $color-red;

    &__list {
      display: none;
    }

    &__link {
      color: $color-white;
    }

    &__link:hover {
      color: $color-gold;
    }

    &__sublink:hover {
      color: $color-gold;
    }

    &__submenu {
      background-color: $color-red;
    }

    &__sublist:hover &__submenu {
      display: none;
    }
  }
}
