.section-about {
  &__title {
    background-color: $color-peach;
    padding-top: 25px;
    padding-bottom: 25px;
    color: $color-brown;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__media {
    display: flex;
    justify-content: center;
    background-color: $color-brown;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__img {
    align-self: center;
    max-width: 600px;
  }

  &__info {
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $color-leather;
  }

  &__info-text {
    font-size: 22px;
    font-weight: 300;
    text-align: justify;
    padding-right: 35px;
    text-indent: 30px;
    color: $color-white;
    margin-bottom: 10px;
    line-height: 1.25;
    hyphens: auto;
  }
}
