.social-media {
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    display: block;
    margin-right: 5px;
    width: 30px;
    height: 30px;
  }

  &__link:last-child {
    margin-right: 15px;
  }

  &__icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    transition-property: background-image;
    transition-duration: 500ms;
  }

  //Icon white
  &__whatsapp_white {
    background-image: url("../src/icons/social-media/icon-whatsapp-white.svg");
  }

  &__telegramm_white {
    background-image: url("../src/icons/social-media/icon-telegramm-white.svg");
  }

  &__whatsapp_white:hover {
    background-image: url("../src/icons/social-media/icon-whatsapp-gold.svg");
  }

  &__telegramm_white:hover {
    background-image: url("../src/icons/social-media/icon-telegramm-gold.svg");
  }
}
